# Kopiraj ovaj fajl u .env i popuni stvarnim vrijednostima. .env se NIKAD ne commituje.
# Vrijednosti sa specijalnim znakovima MORAJU biti pod navodnicima.

# Docker / SQL Server
DB_SA_PASSWORD="ChangeMe123!"
DB_PORT=1435

# ASP.NET Core konfiguracija (dupli underscore = separator za ugniježđene sekcije)
ConnectionStrings__DefaultConnection="Server=localhost,1435;Database=210057;User Id=sa;Password=ChangeMe123!;TrustServerCertificate=True;"
JwtToken__Audience="http://MyDent.com"
JwtToken__Issuer="https://MyDent.com"
JwtToken__SecretKey="ReplaceWithALongRandomSecretString"
JwtToken__DurationInMinutes=30
